@media screen and (max-width: 1200px) {
    #desktop-nav {
    display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}

@media (max-width: 768px) {
    .portfolio {
        padding: 4vh 2rem; /* Reduced padding on smaller screens */
    }

    .portfolio-content {
        flex-direction: column; /* Ensure single column on small screens */
    }

    .row h3 {
        font-size: 1.2rem; /* Smaller title size on mobile */
    }
}
